@page "/addadults"
@using Models
@using FileData
@using Assignment1.Data
@inject IAdultService AdultService;
@attribute [Authorize(Policy = "AddAdults")]


<h1>  Adult Adder</h1>

<p>To create an adult, please fill out the information: </p>

<EditForm Model="@adultItem" OnValidSubmit="@SaveAdultToFile">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="form-group">
        Id: <br/>
        <InputNumber @bind-Value="adultItem.Id"/>
    </div>
    
    <div class="form-group">
        First Name: <br/>
        <InputText @bind-Value="adultItem.FirstName"/>
    </div>
    
    <div class="form-group">
        Last Name: <br/>
        <InputText @bind-Value="adultItem.LastName"/>
    </div>
    
    <div class="form-group">
        Hair Colour: <br/>
        <InputSelect @bind-Value="adultItem.HairColor">
            @foreach (var color in hairColors) {
                <option>@color</option>
            }
        </InputSelect>
    </div>
    
    <div class="form-group">
        Eye Colour: <br/>
        <InputSelect @bind-Value="adultItem.EyeColor">
            @foreach (var color in eyeColors) {
                <option>@color</option>
            }
        </InputSelect>
    </div>
    
    <div class="form-group">
        Age: <br/>
        <InputNumber @bind-Value="adultItem.Age"/>
    </div>
    
    <div class="form-group">
        Weight: <br/>
        <InputNumber @bind-Value="adultItem.Weight"/>
    </div>
    
    <div class="form-group">
        Height: <br/>
        <InputNumber @bind-Value="adultItem.Height"/>
    </div>
    
    <div class="form-group">
        Sex: <br/>
        <InputSelect @bind-Value="adultItem.Sex">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </InputSelect>
    </div>
    
    <div class="form-group">
        Job: <br/>
        <InputText @bind-Value="adultItem.JobTitle"/>
    </div>

    <p class="action">
        <button class="btn btn-primary" type="submit">Add Adult</button>
    </p>
</EditForm>




@code {
    private string[] hairColors = {"Blond", "Red", "Brown", "Black", "White", "Grey", "Blue", "Green", "Leverpostej"};
    private string[] eyeColors = {"Black", "Brown", "Grey", "Green", "Blue", "Amber", "Hazel"};

    private Adult adultItem = new Adult();
    
    
    private void SaveAdultToFile() {
        AdultService.AddAdultAsync(adultItem);

    }

}